.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        test
      .main-chat__group-info__left-box__member
        Member:masa
    .main-chat__group-info__edit
      = link_to "#" do
        Edit

  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__info
        .main-chat__message-list__message__info__member
          masa
        .main-chat__message-list__message__info__date
          2019/11/20(wed) 17:43:01
      .main-chat__message-list__message__text
        おはよう！
    .main-chat__message-list__message
      .main-chat__message-list__message__info
        .main-chat__message-list__message__info__member
          masa
        .main-chat__message-list__message__info__date
          2019/11/20(wed) 17:43:34
      .main-chat__message-list__message__text
        今日は夜から雨

  .main-chat__message-form
    %form.new_message
      .input-box
        %input{type:"text",class:"input-box__text",placeholder:"type a message"}
        %label{class:"input-box__image"}
          = icon('fas','image')
          %input{type:"file",class:"input-box__image__file"}
      %input{type:"submit",class:"submit-btn"}